.auth-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0e006;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .auth-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .auth-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
  }

  .auth-input-wrapper{
    position: relative;
  }

  .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
  }
  
  .auth-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .auth-button {
    padding: 10px;
    border: none;
    background-color: #000F34;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-button:hover {
    background-color: #0c2565;
  }
  
  .toggle-button {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #000F34;
    background-color: white;
    color: #000F34;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-button:hover {
    color: white;
    background-color: #000F34;
  }
  